!!!
%html
  %head
    %title Tbox
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag "//normalize-css.googlecode.com/svn/trunk/normalize.css"
    = javascript_include_tag 'application'
    = include_gon
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    = yield
