!!!
%html(ng-app="tboxApp")
  %head
    %title Tbox
    = stylesheet_link_tag 'application', media: 'all'
    %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Varela")
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js'
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js'
    = javascript_include_tag 'application'
    = javascript_include_tag '//api.filepicker.io/v1/filepicker.js'
    = include_gon
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    = yield